/* Estilo general */
body {
    font-family: 'DM Serif Display', serif;
    color: #333;
}

/* Encabezado */
header {
    background-color: #f8f9fa;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #333;
    margin-bottom: 0;
}

.iconos {
    position: absolute;
    right: 20px;
    top: 10px;
}

.iconos a {
    color: #333;
    margin: 0 8px;
    font-size: 1.3rem;
}

/* Navbar */
.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav button {
    background: none;
    border: none;
}

/* Estilo para botones y formulario de administración */
.form-login, #product-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.btn-edit {
    background-color: #ffc107;
    color: #333;
    margin-right: 5px;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}
footer {
    background-color: #f8f9fa;
    color: #333;
    font-size: 0.9rem;
    padding-top: 20px;
}

.footer-section h5 {
    font-weight: bold;
    color: black;
}

.footer-section p, .footer-section a {
    color: #333;
    margin: 5px 0;
}

.footer-section i {
    color: rgb(0, 0, 0);
    margin-right: 8px;
}

.footer-section a i {
    font-size: 1.3rem;
    margin: 0 10px;
}

.footer-section a i:hover {
    color: #333;
}