
body {
    font-family: 'DM Serif Display', serif;
    color: #333;
}

header {
    background-color: #f8f9fa;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #333;
    margin-bottom: 0;
}

.iconos {
    position: absolute;
    right: 20px;
    top: 10px;
}

.iconos a {
    color: #333;
    margin: 0 8px;
    font-size: 1.3rem;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: white;
}

.navbar-nav button {
    background: none;
    border: none;
}

.login-section {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

#togglePassword {
    position: absolute;
    right: 20px;
    margin-top: -30px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.form-links {
    text-align: left;
    margin-bottom: 10px;
}

.forgot-password {
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
}

.forgot-password:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    font-size: 0.9rem;
    padding-top: 20px;
}

.footer-section h5 {
    font-weight: bold;
    color: black;
}

.footer-section p, .footer-section a {
    color: #333;
    margin: 5px 0;
}

.footer-section i {
    color: rgb(0, 0, 0);
    margin-right: 8px;
}

.footer-section a i {
    font-size: 1.3rem;
    margin: 0 10px;
}

.footer-section a i:hover {
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    .rectangulo, .cuadrado {
        height: 100px;
        font-size: 1.2rem;
    }

    .iconos {
        position: static;
        margin-top: 10px;
    }
}
